@media screen{
    body{
        background-image: url(img/corpo.jpg);
        background-repeat: no-repeat;
    }

    .area-login{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            justify-content: center;
            align-items: center;
            
        }

        .login{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #23232e;
            border-radius: 115px;
            width: 355px;
            height: 420px;
            padding: 35px;
            
            
            
        }

        .login form{
            display: flex;
            width: 100%;
            flex-direction: column;
        }

        .login input{
            
            margin-top: 10px;
            background-color: #ffff;
            padding-left: 10px;
            color: black;
            border: none;
            height: 35px;
            outline: none;
            border-radius: 8px;
        }

        .login img{
            width: 195px;
            height: auto; 
        }
        
        form [type="submit"]{
            display: block;
            background-color: #0772EB;
            font-size: 28px;
            text-transform: uppercase;
            font-weight: bold;
            color: #ffff;
            cursor: pointer;   
        }

        h1{
            display: block;
            background-color: #e20c0c;
            font-size: 28px;
            color: #ffff;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            border-radius: 8px;
            font-family: Arial, Helvetica, sans-serif;   
        }

        .content {
            background-color:  rgb(43, 40, 40);
            color: #fff;
            padding: 50px;
            text-align: center;
            margin-top: 50px;
            position: fixed;
            bottom:0;
            left:0;
            width: 100%;
            text-transform: uppercase;
            
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        li {
            display: inline-block;
            margin: 0 10px;
        }
        
        a {
            color: #fff;
            text-decoration: none;
        }
    }